table {
    font-size: 35px;
    border: 1px solid #D40000;
    border-spacing: 0;
    text-align: center;
    padding: 0;
    padding-top: 0;
    width: 20%;
    height: 40%;
    border-radius: 5px;
}
td {
    border-spacing: 0;
    border: 1px solid #D40000;
    padding: 0;
    align: center;
}
input {
    width: 100%;
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
    background-color:#FF7878;
    border: 0;
    font-family: cursive;
    color: #B60000;
}
button {
    width: 100%;
    height: 100%;
    font-size: 100%;
    border: none;
    border-spacing: 5px;
    background-color:#FF7878;
    font-family: cursive;
    color: #B60000;
}
