<li>
            <span>
                <a href="#/profiles/{{user.username}}">
                {{user.username}}
                </a>
                </span>
            <p>{{text}}</p>
        </li>