<div>
     <div id="errors"></div>
     
    <label>Title</label>  <br>
    <input type="text" id="title">
    <br>
    <label >Description</label>  <br>
    <textarea rows="5" cols="20" id="description"></textarea>
    <br>
    <label >Image link</label>  <br>
    <input type="url" id="img">
    <hr>
    
    <button type="button" class="btn btn-large btn-default" id="btn-create">Create</button>
    
</div>