nav{
  width: 200px;
}
ul{
  list-style: none;
  position: relative;
}

li {
  display: none;
}
span:hover{
  text-decoration: underline;
}

ul:hover li{
  display: block;
  color: #A9A9A9;
  text-indent: 10px;

}
